<div class="calendar-views">

    <div role="tabpanel" class="tab-pane" id="all-years">
            <div class="container">
                {{#each quarters}}
                    <div class="col-xs-4 {{qState}}">
                        <h5>{{Q}}<br/>{{year}}</h5>
                        <ul>
                            {{#each classes}}
                                <li>{{this}}</li>
                            {{/each}}
                        </ul>
                    </div>
                {{/each}}
            </div>
        </div>

</div>