<div class="course-list container">
    <h1 style="text-align: center;">Pick a Class</h1>
    <ul style="list-style-type:none; padding-left: 0; padding-bottom: 7px;">
        {{#each courses}}
            <li><a id="{{id}}" href="#">{{name}} {{units}}</a></li>
        {{/each}}
    </ul>
</div>

<script>
    $.each( $('.course-list ul li'), function(index, elem) {
        elem.addEventListener('click', showCourseDescription);
    });
</script>