<div class="course-list container">
    <ul style="list-style-type:none; padding-left: 0; padding-bottom: 7px;">
        {{#each courses}}
            <li><a id="{{id}}" href="#">{{name}} ({{units}})</a></li>
        {{/each}}
    </ul>
</div>