<div class="department-list container">
    <ul style="list-style-type:none; padding-left: 0; padding-bottom: 7px;">
        {{#each departments}}
            <li><a id="{{id}}" href="#">{{name}}</a></li>
        {{/each}}
    </ul>
</div>
