<div class="department-list container">
    <ul style="list-style-type:none; padding-left: 0;">
        {{#each departments}}
            <li><a class="{{id}}" href="#">{{name}}</a></li>
        {{/each}}
    </ul>
</div>
