<div class="department-list container">
    <h1 style="text-align: center;">List of Departments</h1>
    <ul style="list-style-type:none; padding-left: 0; margin-bottom: 0px;">
        {{#each departments}}
            <li><a id="{{id}}" href="#">{{name}}</a></li>
        {{/each}}
    </ul>
</div>

<script>
    $('#logo').hide();
    $('#back-btn').show();
    // Link all departments to the proper next page
    $.each( $('.department-list ul li'), function(index, elem) {
        elem.addEventListener('click', showDeptClasses);
    });
</script>