<footer>
    <div id="planner" class="col-xs-6">
        <a href="/">
            <span class="glyphicon glyphicon-home"></span>
            <p>Planner </p>
        </a>
    </div>
    <!--<div id="requirements" class=" col-xs-4">
        <a href="/requirements">
            <span class="glyphicon glyphicon-list-alt"></span>
            <p>Requirements</p>
        </a>
    </div>-->
    <div id="add-class" class=" col-xs-6">
        <a href="/field-listing">
            <span class="glyphicon glyphicon-plus-sign"></span>
            <p>Add a Class</p>
        </a>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquerymobile/1.4.5/jquery.mobile.min.js"></script>
</footer>