<div class="container show-quarter">
    <h1 id="{{id}}">{{Q}} {{year}}</h1>
    <ul>
        {{#each classes}}
            <li class="class">
                <span>{{this}}</span>
                <div class="class-del btn btn-danger pull-right">Delete</div>
                <div class="class-mv btn btn-info pull-right">Move</div>
            </li>
        {{/each}}
        <div class="class-add btn btn-success pull-right">+ Add a Class</div>
    </ul>
</div>