<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>

        <h1><a href="/"><img id="logo" src="/images/TritonPlannerLogo.jpg"></a>
            <span>Triton Planner</span>
            <img id="menu-btn" src="/images/gear.png">
        </h1>

    </header>

    <h2>MGT 18: Managing Diverse Teams</h2>
    <button class="btn">Description</button>
    <a href="/"><button class="btn">Add to Planner</button></a>

    <script src="/js/jquery-1.11.0.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/js/functions.js"></script>
</body>
</html>
