<!DOCTYPE html>
<html>
<head>
    <title>Triton Planner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>
        
        <a href="/"><img id="logo" src="/images/TritonPlannerLogo.jpg"></a>
        <h1>
            <a id="back-btn" href="/"><i class="glyphicon glyphicon-arrow-left"></i></a>
            <span>TritonPlanner</span>
        </h1>

    </header>

    <!--Issue when loading in the very beginning due to a partial importing a script that uses jquery.-->
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/functions.js"></script>

    <div class="main-content">
        {{> calendar-views}}

    </div>



    {{> footer }}
    <script>
        $('#back-btn').hide();
        //$('#requirements')[0].addEventListener('click', showRequirements);
        $('#planner')[0].addEventListener('click', showPlanner);
        $('#add-class')[0].addEventListener('click', showDepartments);
        document.getElementById('logo').addEventListener('click', showPlanner);


        // Register back button with the function that restores the correct screen
        var ev = $._data($('#back-btn i')[0], 'events');
        var checkEvent = ev && ev.click;
        console.log(checkEvent);
        if(!checkEvent) {
            console.log('back button registered');
            $('#back-btn i').click( restorePreviousScreen );
        }

        $('body').on('swipeleft', restorePreviousScreen);
    </script>

</body>
</html>
