<!DOCTYPE html>
<html>
<head>
    <title>Triton Planner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
    <header>

        <h1>
            <a href="/"><span class="back-btn glyphicon glyphicon-chevron-left"></span></a>
            <a href="/"><img id="logo" src="/images/TritonPlannerLogo.jpg"></a>
            <span style="color: yellow">Triton</span><span style="color: #2B92B9">Planner</span>
        </h1>

    </header>
    <div class="main-content">
        {{> calendar-views}}

    </div>



    {{> footer }}
</body>
</html>
